extends base.pug
include mixins/video

block content
  h2 Welcome here
  .video-grid

    each video in videos
      +video(video)
    else
      span.empty__message No videos found
    //- div
    //-   h4=video.title
    //-   ul
    //-     li #{video.rating}/5
    //-     li #{video.comments} comments.
    //-     li Posted #{video.createdAt}
    //-     li #{video.views} views.
  //- else
  //-   p Sorry nothing found.