extends ../base

block content
  if errorMessage
    span=errorMessage
  form(action="POST")
    input(placeholder="Old Password" name="oldPassword" type="password")
    input(placeholder="New Password" name="newPassword" type="password")
    input(placeholder="New Password Confirmation" name="Password" type="NewPasswordConfirmation")
    input(value="Change Password", type="submit")